{%load static%}
{% include 'base.html' %}
{% block content %}

<section id="login" class="bg-light py-5">
    <div class="container my-4">
        <div class="row row justify-content-center">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header bg-primary text-white">
                    <h3 class="card-title text-center">
                        <img src="{% static 'img/clinxw.png' %}"  class="logo" alt="">
                        ZAANA </h3>
                    </div>
                    <div class="card-body">
                    <h1 class="text-center">ABOUT ZAANA</h1>
                        <p class="lead text-center"> Your note is with you everywhere</p>
                    <p>
                        <strong>ZAANA</strong> is a web application that allows you to write your note and keep it safely with us.
                        With Zaana, all you need to register with us for free, write your notes and safely it securely with us.
                        You can add all kind of write a lot of note and safe it with us. You can also update and delete your notes.
                        You can access your note securely everywere on any device. With zaana (in future versions) you can also encrypt your note securely with
                        an encryption algorithm so, that you can only be able to read,edit or delete a note with your encryption key. 
                        One best thing  is that you can also download your note as pdf and red.

                        For the passion of programming, Zaana, has a quote sections that has a lot of quotes pertaining to programming.
                    </p>

                        
                    </div>
                 </div>
                
            </div>

        </div>
        

    </div>
 </section>
{%endblock%}

<!-- Footer -->
<footer id="main-footer" class="py-4 bg-primary text-white text-center">
    Copyright &copy;
     Mustapha Adamu 2021
  </footer>
  