{%load static%}
{% include 'base.html' %}
{% block content %}

<section id="login" class="bg-light py-5">
    <div class="container my-4">
        <div class="row row justify-content-center">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header bg-primary text-white">
                    <h3 class="card-title text-center">
                        <img src="{% static 'img/clinxw.png' %}"  class="logo" alt="">
                        ZAANA </h3>
                    </div>
                    <div class="card-body">
                    <h1 class="text-center">ZAANA'S POLICIES</h1>
                        <p class="lead text-center"> Your note is with you everywhere</p>
                    <p>
                        <ul>
                            <li>Zaana will never sell your personal data or note to any organization under any circumstance</li>
                            <li>Zaana, does not know the contents of your personal notes, in the cloud since it is encrypted with encryption algorithms</li>

                            <li>Zaana, will never reveal your personal note to third parties without your permission including law enforcement agencies</li>

                            <li>Zaana can collect data about your account such as the number of notes you and others have for purposes</li>

                            <li>Using Zaana means you have fully agreed to our terms and conditions of services</li>
                         </ul>
                    </p>

                        
                    </div>
                 </div>
                
            </div>

        </div>
        

    </div>
 </section>
{%endblock%}

<!-- Footer -->
<footer id="main-footer" class="py-4 bg-primary text-white text-center">
    Copyright &copy;
     Mustapha Adamu 2021
  </footer>
  