{%load static%}
{% include 'base.html' %}
{% block content %}

<section id="login" class="bg-light py-5">
    <div class="container my-4">
        <div class="row row justify-content-center">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header bg-primary text-white">
                    <h3 class="card-title text-center">
                        <img src="{% static 'img/clinxw.png' %}"  class="logo" alt="">
                        ZAANA </h3>
                    </div>
                    <div class="card-body">
                    <h1 class="text-center">WHY CHOOSE ZAANA</h1>
                        <p class="lead text-center"> Your note is with you everywhere</p>
                    <p>
                        <ul>
                            <li>Enjoy a lot of programming quotes from Zaana to motivate you. </li>
                            <li>Choose Zaana becuase your personal data is not sold to third parties</li>
                            <li>Your data with us is secured with an encryption algorithm (available in future versions of zaana</li>

                            <li>Zaana, will never reveal your personal note to third parties without your permission including law enforcement agencies</li>

                            <li>We will give you unlimited storage to keep your note securely</li>

                            <li>Zaana, will provide 24/7 technical support you may need </li>
                            <li>You can download your notes and it content as pdf</li>
                         </ul>
                    </p>

                        
                    </div>
                 </div>
                
            </div>

        </div>
        

    </div>
 </section>
{%endblock%}

<!-- Footer -->
<footer id="main-footer" class="py-4 bg-primary text-white text-center">
    Copyright &copy;
     Mustapha Adamu 2021
  </footer>
  